<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p><%= link_to "本登録", new_book_path %></p>

<h2>本の一覧</h2>
<hr>
<% @books.each do |book| %>
  <p>タイトル：<%= book.title%>
    <% if signed_in? %>
      <%= link_to "編集", edit_book_path(book) %>
  </p>
  <p>投稿日:<%= book.created_at.strftime("%Y-%m-%d %H:%M") %>
  </p>
  <p>経過：<%= time_ago_in_words(book.created_at) %>前</p>
    <% end %>
<% end %>

<% @books.each do |book| %>
    <% if book.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
    <p><span>お気に入り数: </span><%= book.favorites.count %></p>
        <p><%=link_to "お気に入り解除", book_favorite_path(book.id), method: :delete %></p>
    <% else %>
        <p><%=link_to "お気に入り登録", book_favorite_path(book.id), method: :post %></p>
    <% end %>
<% end %>

<% if !signed_in? %>
<%= link_to "自分も作ってみる", new_user_registration_path %>
<% else %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% end %>

<!-- ツイッターに宣伝 -->
<%= link_to @tweet_url,:onclick=>"window.open(this.href,'hoge', 'height=400, width=600');return false;" do %>
  <div style="background-color:#1da1f2;color:#ffffff;line-height:38px;text-align:center;padding: 0 16px;margin: 15px 10px;border-radius:10px;">
    <i class="fab fa-twitter"></i>
    みんなに宣伝
  </div>
<% end %>
<!-- Find me in app/views/users/show.html.erb -->
