<!-- /header -->
<header class="header">
    <%= link_to "読ぽん",books_index_read_path %>
</header>

<h1>既読の本一覧</h1>
<hr>
<% @books.each do |book| %>
タイトル：<%= book.title%>
出版社：<%= book.pabulisher %>
<br>
<hr>

<% if !signed_in? %>
<%= link_to "自分も作ってみる", new_user_registration_path %><br>
<%= link_to "ログイン",user_session_path %>
<% else %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% end %>

<!-- ツイッターに宣伝 -->
<%= link_to @tweet_url,:onclick=>"window.open(this.href,'hoge', 'height=400, width=600');return false;" do %>
<div style="background-color:#1da1f2;color:#ffffff;line-height:38px;text-align:center;padding: 0 16px;margin: 15px 10px;border-radius:10px;"><i class="fa fa-twitter"></i> みんなに宣伝</div>
   <% end %>

<% end%>
<!--Find me in app/views/books/index_read.html.erb-->
